@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#addScheduleItemBackdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @include flex(center,center);
    #addScheduleItemForm{
        width: 45rem;
        max-width: 95%;
        height: 20rem;
        display: grid;
        grid-template:repeat(20,5%) / repeat(10,10%) ;
        border-radius: 5px;
        padding: 1%;
        background: rgb(255, 255, 255) ;
        #newScheduleTaskTime{
            justify-self: center;
            grid-area: 1 / 5  / span 3 / span 2;
        } 
        #newScheduleTaskName{
            grid-area: 6 / 1  / span 3 / span 10;
            padding: 2%;
            border-radius: 5px; 
            font-size: 1.2rem;
        }
        #addScheduleFormButtons{
            @include flex(space-around,center );
            grid-area: 17 / 1  / span 4 / span 10; 
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #addScheduleItemBackdrop{
        #addScheduleItemForm{
            padding: 3%;
            #newScheduleTaskTime{
                width: 7rem;
            }
            #weekDaysSelector input[type=checkbox] + label {
                height: 70%;
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #addScheduleItemBackdrop{
        #addScheduleItemForm{
            padding: 3%;
            #newScheduleTaskTime{
                width: 7rem;
            }
            #weekDaysSelector input[type=checkbox] + label {
                height: 70%;
            }
        }
    }
}