@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

#habits{
    @include flex(center,center);
    flex-direction: column;
    height: 100%;
    #habitsControls{
        width: 60rem;
        height: 10%;
        max-width: 95%;
        display: grid;
        grid-template: 100% / 1fr 1fr 1fr ;
        justify-items: center;
        align-items: center;
    }
    #loading{
        height: 90%;
    }
    #todaysHabits{
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,40rem);
        grid-auto-rows: 5rem;
        gap: 5% 2%;
        justify-content: center;
        overflow: hidden;
        padding: 3% 1% 0% 1%;
    }
    #habitsList{
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,40rem);
        grid-auto-rows: 8rem;
        gap: 5% 2%;
        justify-content: center;
        overflow-y: scroll;
        padding: 3% 1% 0% 1%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #habits{
        #habitsControls{
            @include flex(space-around,center);
            height: 20%;
            flex-wrap: wrap;
            #habitsViewToggle{
                @include flex(space-around,center );
                max-width: 45%;
            }
            #datePicker{
                max-width: 45%;
                order: 2;
            }
            #addNewHabit{
                max-width: 45%;
            }
        }
        #todaysHabits{
            height: 80%;
            grid-template-columns: 95%;
            .hidden{
            height: 10%;
            visibility: hidden
        }
        }
        #habitsList{
            height: 80%;
            grid-template-columns: 95%;
            .hidden{
            height: 10%;
            visibility: hidden
        }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #habits{
        #habitsControls{
            @include flex(space-around,center );
            height: 20%;
            flex-wrap: wrap;
            #habitsViewToggle{
                @include flex(space-around,center );
                max-width: 45%;
            }
            #datePicker{
                max-width: 45%;
                order: 2;
            }
            #addNewHabit{
                max-width: 45%;
            }
        }
        #todaysHabits{
            height: 80%;
            grid-template-columns: 95%;
        }
        #habitsList{
            height: 80%;
            grid-template-columns: 95%;
        }
    }
}