@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#navigation{
    width: 100%;
    height: 8%;
    display: grid;
    grid-template: 100% / 20% 60% 20%;
    background: radial-gradient(circle, rgb(0, 120, 200) 0%, rgb(0, 90, 180) 100%);
    color: white;
    #title{
        @include flex(center,center);
    }
    #navLinks{
        @include flex(space-around,center);
        padding: 0 5% 0 5%;
    }
    #navLinksMenu{
        order: -1;
        @include flex(space-around,center);
        #navIcon{
            font-size: 1.7rem;
            transition: 0.2s;
        }
        #navLinksSlide{
            @include flex(space-around,center);
            flex-direction: column;
            position: fixed;
            background-color: rgb(0, 90, 180);
            height: 40%;
            width: 15rem;
            max-width: 45%;
            top: 8.5%;
            left: 1%;
            border-radius: 5px;
            z-index: 100;
        }
    }
    #login{
        @include flex(space-around,center);
        grid-area: 1 / 3 / span 1 / span 1;
        button{
            height: 60%;
            width: 70%;
            background: none;
            color: white;
            font-size: 1.5rem;
            border: solid white 2px;
            border-radius: 10px;
        }
    }
    #authMenu{
        @include flex(space-around,center);
        grid-area: 1 / 3 / span 1 / span 1;
        #authIcon{
            font-size: 1.7rem;
        }
        #authLinksSlide{
            @include flex(space-around,center);
            flex-direction: column;
            position: fixed;
            background-color: rgb(0, 90, 180);
            height: 25%;
            width: 15rem;
            max-width: 45%;
            top: 8.5%;
            right: 3%;
            border-radius: 5px;
            z-index: 100;
        }
        #authLinksSlideWide{
            @include flex(space-around,center);
            flex-direction: column;
            position: fixed;
            background-color: rgb(0, 90, 180);
            height: 5em;
            width: 20em;
            top: 8.5%;
            right: 1%;
            border-radius: 5px;
            z-index: 100;
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #navigation{
        #title{
            grid-area: 1 / 2 / span 1 / span 1;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #navigation{
        #title{
            grid-area: 1 / 2 / span 1 / span 1;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    #navigation{
        #title{
            #title{
                grid-area: 1 / 2 / span 1 / span 1;
            }
        }
        #authMenu{
            #authLinksSlide{
                right: 1%;
            }
        }
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #navigation{
        #authMenu{
            #authLinksSlide{
                right: 1%;
            }
        }
    }
}