@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#addNewTodo{
    height: 100%;
    @include flex(center,center);
    #addNewTodoCard{
        height: 90%;
        max-width: 90%;
        width: 45rem;
        max-width: 95%;
        @include flex(center,center);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        #addNewToDoForm{
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(20,5%);
            justify-items: center;
            align-items: center;
            padding: 3% 0 3% 0 ;
            #newTodoDate{
                grid-area: 1 / 1 / span 3/ span 1; 
            }
            #newTodoTitle{
                width: 80%;
                height: 80%;
                grid-area: 4 / 1 / span 2/ span 1;
                font-size: 1.3rem;
                border-radius: 5px;
                padding: 1%;
            }
            #newTodoDescription{
                width: 80%;
                height: 100%;
                grid-area: 7 / 1 / span 10/ span 1;
                font-size: 1.1rem;
                border-radius: 5px;
                padding: 1%;        
            }
            #submitButton{
                align-self: start;
                grid-area: 18 / 1 / span 2/ span 1;;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #addNewTodo{
        #addNewTodoCard{
            height: 85%;
            #addNewToDoForm{
                padding: 5% 0 3% 0 ;
                #newTodoTitle{
                    width: 85%;
                }
                #newTodoDescription{
                    width: 85%;
                    grid-area: 7 / 1 / span 10/ span 1;
                }
                #submitButton{
                    grid-area: 18 / 1 / span 2/ span 1;
                }
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #addNewTodo{
        #addNewTodoCard{
            height: 85%;
            #addNewToDoForm{
                height: 80%;
                #newTodoDescription{
                    grid-area: 7 / 1 / span 10/ span 1;
                }
                #submitButton{
                    grid-area: 18 / 1 / span 2/ span 1;
                }
            }
        }
    }
}