@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#detailedTodo{
    height: 100%;
    @include flex(center,center);
    #detailedToDoForm{
        height: 90%;
        width: 45rem;
        max-width: 95%;
        display: grid;
        grid-template-rows: repeat(20,5%) ;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        #detailedDates{
            width: 80%;
            height: 100%;
            grid-area: 1 / 1 / span 3/ span 1;
            @include flex(center,center);
            #datePicker{
                width: 15rem;
                border: none;
                border-bottom:solid black 1px ;
                text-align: center;
                font-size: 1.5rem;
            }
        }
        #detailedTitle{
            width: 80%;
            height: 80%;
            grid-area: 4 / 1 / span 2/ span 1;
            font-size: 1.5rem;
            border-radius: 5px;
            padding:1% ;
        }
        #detailedDescription{
            width: 80%;
            height: 100%;
            grid-area: 7 / 1 / span 9/ span 1;
            font-size: 1.3rem;
            border-radius: 5px;
            padding:1% ;        
        }
        #submitButton{
            align-self: start;
            grid-area: 17 / 1 / span 2/ span 1;
        }
        #creationDate{
            @include flex(center,center);
            grid-area: 19 / 1 / span 1/ span 1;
        }
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #detailedTodo{
        #detailedToDoForm{
            #detailedTitle{
                width: 90%;
            }
            #detailedDescription{
                width: 90%;
            }
        }
    }
}