@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
.toDoItem{
    display: grid;
    grid-template: repeat(10,10%) / repeat(10,10%) ;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .toDoItemTitle{
        @include flex(space-around,center);
        font-size: 1.5rem;
        grid-area: 1 / 1 / span 5 / span 7;
    }
    .toDoItemCreationDate{
        @include flex(center,center);
        flex-direction: column;
        grid-area: 7 / 1 / span 4 / span 5;
    }
    .toDoItemTargetDate{
        @include flex(center,center);
        flex-direction: column;
        grid-area: 7 / 6 / span 4 / span 5;
    }
    .todoItemIcons{
        @include flex(space-around,center);
        grid-area: 1 / 8 / span 5 / span 3;
        .linkToDetailedTodo{
            .iconToDetailedTodo{
                color: royalblue;
                font-size: 2.5rem;
            }
        }
        .deleteTodoIcon{
            font-size: 2.5rem;
            color: red;
        }
        .changeTodoStatusIcon{
            font-size: 2.5rem;
        }
        .Pending{
            color: black;
        }
        .Complete{
            color: green;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
@media only screen and (min-width: 769px) and (max-width: 992px) {

}
@media only screen and (min-width: 993px) and (max-width: 1200px) {

}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {

}