@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#toDo{
    @include flex(center,center);
    flex-direction: column;
    height: 100%;
    #toDoControls{
        height: 10%;
        width: 80rem;
        max-width: 95%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: end;
        #searchTodo{
            width: 100%;
            height: 3rem;
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 2%;
        }
    }
    #loading{
        height: 90%;
    }
    #toDoList{
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,40rem);
        justify-content: center;
        grid-auto-rows: 8rem;
        gap: 5% 2%;
        overflow-y: scroll;
        padding: 3% 1% 0% 1%;
        .hidden{
            height: 10%;
            visibility: hidden
        }
    }
}
// Media queries
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #toDo{
        #toDoControls{
            height: 20%;
            @include flex(space-around,center );
            flex-wrap: wrap;
            #searchTodo{
                order: -1;
                width: 100%;
            }
            #sortTodo{
                max-width: 45%;
            }
            #newTodoLink{
                @include flex(center,center);
                max-width: 45%;
            }
        }
        #toDoList{
            height: 80%;
            grid-template-columns: 1fr  ;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #toDo{
        #toDoControls{
            width: 45rem;
            height: 20%;
            @include flex(space-around,center );
            flex-wrap: wrap;
            #searchTodo{
                order: -1;
                width: 100%;
            }
            #sortTodo{
                max-width: 45%;
            }
            #newTodoLink{
                @include flex(center,center);
                max-width: 45%;
            }
        }
        #loading{
        height: 80%;
        }
        #toDoList{
            height: 80%;
            grid-template-columns: minmax(30rem,80vw);
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    #toDo{
        #toDoControls{
            width: 45rem;
            height: 20%;
            @include flex(space-around,center );
            flex-wrap: wrap;
            #searchTodo{
                order: -1;
                width: 100%;
            }
            #newTodoLink{
                @include flex(center,center);
            }
        }
        #loading{
        height: 80%;
        }
    }
}