@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#journal{
    height: 100%;
    @include flex(center,center);
    #journalCard{
        height: 90%;
        width: 45rem;
        display: grid;
        grid-template: 15% 85% / 100%;
        justify-items: center;
        align-items: center;
        max-width: 95%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        padding: 2% 0 2% 0;
        #journalForm{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template: 85% 15%/ 100% ;
            justify-items: center;
            align-items: center;
            #journalEntry{
                width: 90%;
                height: 90%;
                font-size: 1.1rem;
                border-radius: 5px;
                padding: 1%;   
            }
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #journal{
        #journalCard{
            height: 85%;
        }
    }
}