@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
#journal{
    height: 100%;
    @include flex(center,center);
    #journalCard{
        height: 90%;
        width: 45rem;
        display: grid;
        grid-template: 10% 90% / 100%;
        justify-items: center;
        align-items: center;
        max-width: 95%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        #dateSelection{
            @include flex(center,center);
            #datePicker{
                width: 15rem;
                border: none;
                border-bottom:solid black 1px ;
                text-align: center;
                font-size: 1.5rem;
            }
        }
        #journalForm{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template: 90% 10%/ 100% ;
            justify-items: center;
            align-items: center;
            #journalEntry{
                width: 90%;
                height: 90%;
                font-size: 1.1rem;
                border-radius: 5px;
                padding: 1%;   
            }
            #submitJournalForm{
                align-self: start;
            }
        }
    }
}