@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    #app{
        height: 100vh;
        background-image: 123;
        main{
            height: 92%;
        }
        .button{
            width: 13rem;
            height: 3rem;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            outline: inherit;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
            border-radius: 5px;
            font-size: 1.3rem;
            text-align: center;
        }
        .active{
            color: white;
            transform: scale(1.1);
            border-bottom: solid white 1px;
        }
        .datePick{
            width: 13rem;
            height: 3rem;
            border-radius: 5px;
            font-size: 1.3rem;
            text-align: center ;
        }
        .focus{
            transition: 0.3s;
            animation: scale-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .focus:focus{
            transform: scale(1.01);
        }
        .hover{
            transition: 0.3s;
            animation: scale-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .hover:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
        .hoverFilter{
            transition: 0.2s;
        }
        .hoverFilter:hover{
            filter:drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
            transform: scale(1.01);
        }
        .infoTooltip{
            position: relative;
            display: inline-block;
            @include flex(center,center);
            grid-area: 1 / 10  / span 3 / span 1;
            .infoIcon{
                font-size: 2rem;
                color: rgb(16, 113, 231);
            }
        }
        .infoTooltip .infoTooltipText{
            visibility: hidden;
            width: 15rem;
            top: 50%;
            right: 110%;
            background-color: white;
            font-size: 1rem;
            text-align: center;
            padding: 2%;
            box-shadow: 0 0 3px black;
            border-radius: 5px;
            position: absolute;
            opacity: 0%;
            transition: 0.3s;
            z-index: 1;
        }
        .infoTooltip:hover .infoTooltipText{
            visibility: visible;
            opacity: 100%;
        }
        .link{
            text-decoration: none;
            color: inherit;
            animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        .navLink{
            text-decoration: none;
            color: inherit  ;
            transition: 0.5s;
            font-size: 1.3rem;
            animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        .navLinkSlide{
            text-decoration: none;
            color: inherit ;
            transition: 0.5s;
            font-size: 1.3rem;
            animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        .weekDaysSelector{
            width: 100%;
            grid-area: 12 / 1 / span 4 / span 10;
            display: grid;
            grid-template-columns: repeat(7,1fr);
            gap: 1%;
        }
        .weekDaysSelector input {
            display: none!important;
        }
        .weekDaysSelector input[type=checkbox] + label {
            height: 80% ;
            display: inline-block;
            border-radius: 3px;
            line-height: 45px;
            text-align: center;
            font-size: 1.1rem;
            cursor: pointer;
            box-shadow: 0 0 1px black;
            border-radius: 5px;
            transition: 0.3s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none; 
            user-select: none;   
        }
        .weekDaysSelector input[type=checkbox]:checked + label {
        background: rgb(0, 153, 255);
        color: white;
        }
        // Transition Animations
        .fade-in {
            animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        @keyframes fade-in {
            0% {
            opacity: 0;
            transform: translateY(-15px);
            }
            100% {
            opacity: 1;
            transform: translateY(0);
            }
        }
        .text-focus-in {
            animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        @keyframes text-focus-in {
            0% {
                filter: blur(12px);
            opacity: 0;
            }
            100% {
                filter: blur(0px);
                opacity: 1;
            }
        }
        .scale-in {
            animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        @keyframes scale-in {
            0% {
                opacity: 0;
                transform: scale(0.95);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        } 
        .opacity-transition{
            animation: opacity-transition 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        @keyframes opacity-transition {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}